.navbar {
    background-color: #1d0d0d;
    padding: 1rem;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ddd;
}


.sidenav-container {
    height: 10%;
    overflow: hidden;
}

.sidenav {
    width: 250px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

/* This ensures the sidenav stays open on larger screens and acts like a dropdown on smaller screens */
@media (min-width: 600px) {
   
}

mat-sidenav {
    width: 250px;  /* you can set this to whatever width you like */
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.3); /* Adding a simple shadow to make it pop */
}

mat-sidenav button {
    display: block;
    width: 100%;
    text-align: left;
}
