
<div class="container">
    <h2>Signup</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
        </div>
        <button type="submit">Signup</button>
    </form>
</div>
