/* Container Styles */
#main{
    height: 100%;
    padding-top: 5%;
    background-image: url(https://media.istockphoto.com/id/1436950991/photo/cyber-security-authentication-online-safety-concept.webp?b=1&s=170667a&w=0&k=20&c=eMQbEHwi45JD_yA6jd0b4lLTz9y0Dj6Ejn9cxAyoonA=);
}

.container {
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #3568cd9c;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

/* Input Styles */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Error Message Styles */
div > div {
    color: rgb(243, 238, 238);
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

/* Button Styles */
button {
    padding: 10px 15px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}
